.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.dialogsPerson {
    margin-left: 40px;
}

.dialogsPerson .dialogsItem {
    margin-top: 10px;
}

.litters {
    margin-left: 10px;
}
